html {
    box-sizing: border-box;
    background-color:black;
}


*, *:;before, *:;after {
    box-sizing: inherit;
}

h1 {
    width: 100;
    text-align: center;
    color:orange;
}

p {
    color: white;
    margin-top: 2em;
}

.logo {
    width: 100px;
    float: left;
    margin-left: 1em;
}


.section-dark {
  padding-top:1em;
  padding-bottom: 1em;
  position: relative;
}


.nav {
    margin: 0;
    padding-bottom:0;
    list-style-type: none;
    text-align: center;
    display: none;
    position: absolute;
    right: 0;
    top: 100%;
    width: 10em;
}


.nav a {
    display: block;
    padding: 0.2em;
    text-decoration: none;
    color: white;
    text-align: center;
    background-color:orange;
}

.nav a:hover {
    background-color: #333;
    color: #fff;
}

.nav-check:checked~.nav {
    display: block;
}

.nav-check {
    position: absolute;
    top: -3em;
}

.nav-label {
    cursor: pointer;
    font-size: 1.25rem;
    width: 30px;
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
}

.nav-check:checked~.nav-label {
    background-color: #333;
}

 .nav-open,
 .nav-close {
     display: block;
     width: 100%;
 }

.nav-close {
    display: none;
}

.nav-check:checked ~ .nav-label .nav-open {
    display: none;
}

.nav-check:checked ~ .nav-label .nav-close {
    display: block;
}


p {
    width: 100;
    text-align: center;
}

.banner {
    background-image: url(../images/London-Piano-teacher.jpg);
    background-size:cover;
    background-position: center center;
    width: 95%;
    padding: 1rem 1rem 15rem ;
    position: relative;
    margin-top: 7em;
}

.flute{
    position: absolute;
    top: 40px;
    left: 10px;
    width: 250px;
    height: 250px;
    background-image:url(../images/flute.svg);
-webkit-animation: box-rotate 6s linear infinite alternate;
    animation: box-rotate 6s linear infinite alternate;
}


@-webkit-keyframes box-rotate {
    
    0%{-webkit-transform: rotate(0deg);
    }
        
100% {-webkit-transform: rotate(90deg);
    
}

}

@keyframes box-rotate {
    
    0%{
        
  transform: rotate(0deg);
    }
        
100% {
  transform: rotate(90deg);
    
}

}

.musicnote{
    position: absolute;
    width: 200px;
    height: 250px;
    top: 30px;
    left: 70px;
    right: 0px;
-webkit-animation: musicnote 7s ease-in-out infinite;
    animation: musicnote 7s ease-in-out infinite;
    background-image:url(../images/musicnote.svg);
}   
    
@-webkit-keyFrames musicnote{
    0% { -webkit-transform: translateX(200px);
    }
    50% { -webkit-transform: translateX(20px);
}
    70% {-webkit-transform: translateY(0px);
    }
    
    81.74% {-webkit-transform: translateX(40px);
    
 }
    
    92% {-webkit-transform: translateX(300px);
    }
    
    100% {-webkit-transform: translateX(100px);
    }
}
      
@keyFrames musicnote{
    0% { transform: translateX(200px);
    }
    50% { transform: translateX(20px);
}
    70% {
    transform: translateY(0px);
    }
    
    81.74% {
    transform: translateX(40px);
    
    }
    
    92% {
        transform: translateX(300px);
    }
    
    100% {
        transform: translateX(100px);
    }
}
  
.musicnotetwo{
    position: absolute;
    width: 200px;
    height: 100px;
    top: 70px;
    left:80px;
-webkit-animation: musicnotetwo 7s ease-in-out infinite;
    animation: musicnote2 7s ease-in-out infinite;
    background-image:url(../images/musicnotetwo.svg);
}   
    
@-webkit-keyFrames musicnotetwo{
    0% { -webkit-transform: translateX(100px);
    }
    50% { -webkit-transform: translateX(200px);
}
    70% {-webkit-transform: translateY(0px);
    }
    
    81.74% {-webkit-transform: translateX(400px);
    
 }
    
    92% {-webkit-transform: translateX(300px);
    }
    
    100% {-webkit-transform: translateX(100px);
    }
}
      
@keyFrames musicnotetwo{
    0% { transform: translateX(100px);
    }
    50% { transform: translateX(200px);
}
    70% {
    transform: translateY(0px);
    }
    
    81.74% {
    transform: translateX(400px);
    
    }
    
    92% {
        transform: translateX(300px);
    }
    
    100% {
        transform: translateX(100px);
    }
}

.musicnotethree{
    position: absolute;
    width: 200px;
    height: 250px;
    top: 110px;
    left: 110px;
    color: white;
-webkit-animation: musicnotethree 7s ease-in-out infinite;
    animation: musicnotethree 7s ease-in-out infinite;
    background-image:url(../images/musicnotethree.svg);
}   
    
@-webkit-keyFrames musicnotethree{
    0% { -webkit-transform: translateX(90px);
    }
    50% { -webkit-transform: translateX(200px);
}
    70% {-webkit-transform: translateY(0px);
    }
    
    81.74% {-webkit-transform: translateX(400px);
    
 }
    
    92% {-webkit-transform: translateX(200px);
    }
    
    100% {-webkit-transform: translateX(100px);
    }
}
      
@keyFrames musicnotethree{
    0% { transform: translateX(100px);
    }
    50% { transform: translateX(200px);
}
    70% {
    transform: translateY(0px);
    }
    
    81.74% {
    transform: translateX(400px);
    
    }
    
    92% {
        transform: translateX(300px);
    }
    
    100% {
        transform: translateX(100px);
    }
}

.toggle {
    width: 50px;
    margin-left: 10em;
    position: relative;
}

.piano {
    width: 200px;
    margin-left: 35em;
}

.panel {
  height: 550px;
  width: 200px;
  top: 50%;
  transform: translateX(-30%);
  max-height: 10em;
  overflow: hidden;
  transition: all 250ms ease-out;
  margin-left: 4em;
  color: black;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 0em;
}

.panel h2 {
  margin-left: 0em;
  padding-top: 1em;
}


.js-panel-collapse-expand {
    max-height: 0;
    overflow: hidden;
}


.paneltwo {
  height: 400px;
  width: 200px;
  top: 50%;
  transform: translateX(-30%);
  max-height: 10em;
  overflow: hidden;
  transition: all 250ms ease-out;
  color: black;
  text-align: center;
  margin-top: 2em;
  margin-bottom: 1em;
  margin-left: 2em;
}

.paneltwo h2 {
  margin-left: 0em;
  padding-top: 1em;
}


.js-paneltwo-collapse-expand {
    max-height: 0;
    overflow: hidden;
}


.panelthree {
  height: 400px;
  width: 200px;
  top: 50%;
  transform: translateX(-30%);
  max-height: 10em;
  overflow: hidden;
  transition: all 250ms ease-out;
  color: black;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
}

.panelthree h2 {
  margin-left: 0em;
  padding-top: 1em;
}


.js-panelthree-collapse-expand {
    max-height: 0;
    overflow: hidden;
}
.buttons {
    width: 100%;
    position: relative;
}

.diamond {
  height: 100px;
  top: calc(50% - 40px);
  width: 200px;
  background-color: yellow;
  color: black;
  text-align: center;
  max-height: 10em;
  overflow: hidden;
  margin-top: 0em;
  margin-bottom: 1em;
  right:17em;
  xposition: absolute;
}

.diamond h2 {
    margin-left: 0em;
    padding-top: 1em;
}
    

.js-diamond-slide {
    right: -5em;
    transition: all 250ms ease-out;
    transition-property: all;
  transition-duration: 250ms;
  transition-timing-function: ease-in;
  transition-delay: initial;
    
}

h2 {
    
color: white;
text-align: center;
width: 100%;
}

dt {
	margin: 0;
	padding: 0;
	font-size: 1.5em;
	font-weight: bold;
	transition: all 5s linear;
    color: white;
    text-align: center;
}

dd {
	margin: 0;
	padding: 0;
	transition: all 1s linear;
}

.violin {
    width: 100px; 
    
}

.st0{
    fill:#7F441D;
    stroke:#000000; 
    stroke-width:18; 
    stroke-miterlimit:10;
    transition: all 200ms linear;
}

	.st1{fill:none;
        stroke:#000000;
        stroke-width:3;
        stroke-miterlimit:10;
    }
	.st2{
        fill:none;
        stroke:#000000;
        stroke-width:5;
        stroke-miterlimit:10;
    }

	.st3{
        fill:none;
        stroke:#000000;
        stroke-width:10;
        stroke-miterlimit:10;
    }

.violin:hover .st0 {
    fill: orange;
}

#st0 {
    opacity: 0;
    transition: all 1s linear;
}


#violinstring {
    opacity: 0;
    transition: all 1s linear;
}

.js-active #violinstring {
    opacity: 1;
}

#violinstring {
    transition: all 1s linear;
}

.js-active #violinstring {
    fill: orange;
}

#bow {
    animation: bow-bob 0.5s ease alternate infinite;
}


@keyframes bow-bob {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(40px);
    }
}


@media only screen and (min-width: 25em) {
}
.logo {
    width: 50px;
}

.violin {
    width: 300px;   
}

.piano {
    width: 200px;
    margin-left: 5em;
}

.guitar {
    width: 200px;
    margin-left: 5em;
}
    
.tamborine {
    width: 200px;
    margin-left: 5em;
}
@media only screen and (min-width: 38em) {
    .flute{
    position: absolute;
    top: 120px;
    left: 10px;
    width: 250px;
    height: 250px;
    background-image:url(../images/flute.svg);
-webkit-animation: box-rotate 6s linear infinite alternate;
    animation: box-rotate 6s linear infinite alternate;
}

@media only screen and (min-width: 60em) {
.flute{
    position: absolute;
    top: 40px;
    left: 10px;
    width: 250px;
    height: 250px;
    background-image:url(../images/flute.svg);
-webkit-animation: box-rotate 6s linear infinite alternate;
    animation: box-rotate 6s linear infinite alternate;
}
.violin {
    width: 200px;   
    
}
.toggle {
    width: 50px;
    margin-left: 40em;
    position: relative;
}
    .piano {
    width: 200px;
    margin-left: 35em;
}

.guitar {
    width: 200px;
    margin-left: 35em;
}
.tamborine {
    width: 200px;
    margin-left: 35em;
}
}