html {
    box-sizing: border-box;
    background-color:#006633;
}


*, *:;before, *:;after {
    box-sizing: inherit;
}

h1 {
    width: 100;
    text-align: center;
    color: white;
}

.section-dark {
  background-color: #003300;
  padding-top:1em;
  padding-bottom: 1em;
  position: relative;
}


.nav {
    margin: 0;
    padding-bottom:0;
    list-style-type: none;
    text-align: center;
    display: none;
    position: absolute;
    right: 0;
    top: 100%;
    width: 15em;
}


.nav a {
    display: block;
    padding: 0.5em;
    text-decoration: none;
    color: white;
    text-align: center;
    background-color: #009933;
}

.nav a:hover {
    background-color: #333;
    color: #fff;
}

.nav-check:checked~.nav {
    display: block;
}

.nav-check {
    position: absolute;
    top: -3em;
}

.nav-label {
    cursor: pointer;
    font-size: 1.25rem;
    width: 40px;
    display: inline-block;
    position: absolute;
    right: 0;
    bottom: 0;
}

.nav-check:checked~.nav-label {
    background-color: #333;
}

 .nav-open,
 .nav-close {
     display: block;
     width: 100%;
 }

.nav-close {
    display: none;
}

.nav-check:checked ~ .nav-label .nav-open {
    display: none;
}

.nav-check:checked ~ .nav-label .nav-close {
    display: block;
}


p {
    width: 100;
    text-align: center;
}

.banner {
    background-image: url(../images/banner.jpg);
    background-size:cover;
    background-position: center center;
    width: 100%;
    padding: 2rem 2rem 15rem ;
    margin-top: 7em;
    position: relative;
}
.flute{
    position: absolute;
    top: 40px;
    left: 10px;
    width: 250px;
    height: 250px;
    background-image:url(../images/flute.svg);
-webkit-animation: box-rotate 6s linear infinite alternate;
    animation: box-rotate 6s linear infinite alternate;
}


@-webkit-keyframes box-rotate {
    
    0%{-webkit-transform: rotate(0deg);
    }
        
100% {-webkit-transform: rotate(90deg);
    
}

}

@keyframes box-rotate {
    
    0%{
        
  transform: rotate(0deg);
    }
        
100% {
  transform: rotate(90deg);
    
}

}

.musicnote{
    position: absolute;
    width: 200px;
    height: 250px;
    top: 30px;
    left: 90px;
-webkit-animation: musicnote 7s ease-in-out infinite;
    animation: musicnote 7s ease-in-out infinite;
    background-image:url(../images/musicnote.svg);
}   
    
@-webkit-keyFrames musicnote{
    0% { -webkit-transform: translateX(200px);
    }
    50% { -webkit-transform: translateX(20px);
}
    70% {-webkit-transform: translateY(0px);
    }
    
    81.74% {-webkit-transform: translateX(40px);
    
 }
    
    92% {-webkit-transform: translateX(300px);
    }
    
    100% {-webkit-transform: translateX(100px);
    }
}
      
@keyFrames musicnote{
    0% { transform: translateX(200px);
    }
    50% { transform: translateX(20px);
}
    70% {
    transform: translateY(0px);
    }
    
    81.74% {
    transform: translateX(40px);
    
    }
    
    92% {
        transform: translateX(300px);
    }
    
    100% {
        transform: translateX(100px);
    }
}
  
.musicnotetwo{
    position: absolute;
    width: 200px;
    height: 100px;
    top: 70px;
    left:80px;
-webkit-animation: musicnotetwo 7s ease-in-out infinite;
    animation: musicnote2 7s ease-in-out infinite;
    background-image:url(../images/musicnotetwo.svg);
}   
    
@-webkit-keyFrames musicnotetwo{
    0% { -webkit-transform: translateX(100px);
    }
    50% { -webkit-transform: translateX(200px);
}
    70% {-webkit-transform: translateY(0px);
    }
    
    81.74% {-webkit-transform: translateX(400px);
    
 }
    
    92% {-webkit-transform: translateX(300px);
    }
    
    100% {-webkit-transform: translateX(100px);
    }
}
      
@keyFrames musicnotetwo{
    0% { transform: translateX(100px);
    }
    50% { transform: translateX(200px);
}
    70% {
    transform: translateY(0px);
    }
    
    81.74% {
    transform: translateX(400px);
    
    }
    
    92% {
        transform: translateX(300px);
    }
    
    100% {
        transform: translateX(100px);
    }
}

.musicnotethree{
    position: absolute;
    width: 200px;
    height: 250px;
    top: 110px;
    left: 110px;
-webkit-animation: musicnotethree 7s ease-in-out infinite;
    animation: musicnotethree 7s ease-in-out infinite;
    background-image:url(../images/musicnotethree.svg);
}   
    
@-webkit-keyFrames musicnotethree{
    0% { -webkit-transform: translateX(90px);
    }
    50% { -webkit-transform: translateX(200px);
}
    70% {-webkit-transform: translateY(0px);
    }
    
    81.74% {-webkit-transform: translateX(400px);
    
 }
    
    92% {-webkit-transform: translateX(200px);
    }
    
    100% {-webkit-transform: translateX(100px);
    }
}
      
@keyFrames musicnotethree{
    0% { transform: translateX(100px);
    }
    50% { transform: translateX(200px);
}
    70% {
    transform: translateY(0px);
    }
    
    81.74% {
    transform: translateX(400px);
    
    }
    
    92% {
        transform: translateX(300px);
    }
    
    100% {
        transform: translateX(100px);
    }
}

.toggle {
    width: 50px;
    margin-left: 10em;
    position: relative;
}


.box {
  height: 100px;
  top: calc(50% - 50px);
  width: 200px;
  background-color: white;
  transition: all 250ms ease-in;
  opacity: 0;
    
}

.js-box-show-hide {
    opacity: 1;
    transition: all 250ms ease-out;
}

.panel {
  height: 100px;
  width: 200px;
  top: 40%;
  background-color: yellow;
  transform: translateX(-50%);
  max-height: 5em;
  overflow: hidden;
  transition: all 250ms ease-out;
  margin-left: 2em;
}

.js-panel-collapse-expand {
    max-height: 0;
    overflow: hidden;
}


@media only screen and (min-width: 25em) {
}

@media only screen and (min-width: 38em) {
    .flute{
    position: absolute;
    top: 120px;
    left: 10px;
    width: 250px;
    height: 250px;
    background-image:url(../images/flute.svg);
-webkit-animation: box-rotate 6s linear infinite alternate;
    animation: box-rotate 6s linear infinite alternate;
}

@media only screen and (min-width: 60em) {
.flute{
    position: absolute;
    top: 40px;
    left: 10px;
    width: 250px;
    height: 250px;
    background-image:url(../images/flute.svg);
-webkit-animation: box-rotate 6s linear infinite alternate;
    animation: box-rotate 6s linear infinite alternate;
}
.toggle {
    width: 50px;
    margin-left: 40em;
    position: relative;
}

}